<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT billing ANY>
<!ATTLIST billing id ID #REQUIRED>
<!ELEMENT confirmation ANY>
<!ATTLIST confirmation id ID #REQUIRED>
<!ELEMENT payment ANY>
<!ATTLIST payment id ID #REQUIRED>
<!ELEMENT preview ANY>
<!ATTLIST preview id ID #REQUIRED>
<!ELEMENT shipping ANY>
<!ATTLIST shipping id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT sliderItem ANY>
<!ATTLIST sliderItem id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="6e3a44e3-aad6-4647-b9ee-e6b6e76feec2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-18T12:03:43" updateDate="2016-11-18T12:15:34" nodeName="SiteDemo" urlName="sitedemo" path="-1,1056" isDoc="" nodeType="1048" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="home">
    <sIteName><![CDATA[<span>E</span>-SHOPPER]]></sIteName>
    <urlDesign><![CDATA[http://www.themeum.com]]></urlDesign>
    <designBy><![CDATA[Themeum]]></designBy>
    <copyrigth><![CDATA[Copyright © 2013 E-SHOPPER Inc. All rights reserved.]]></copyrigth>
    <basket id="1057" key="2b500305-0f08-46cb-b4e4-b997944618d7" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-11-18T12:05:28" updateDate="2016-11-18T12:05:28" nodeName="Basket" urlName="basket" path="-1,1056,1057" isDoc="" nodeType="1049" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="basket">
      <shipping id="1061" key="aaa29700-fccf-46dd-ab7c-0e085c009f3b" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2016-11-18T12:06:38" updateDate="2016-11-18T12:06:38" nodeName="Shipping" urlName="shipping" path="-1,1056,1057,1061" isDoc="" nodeType="1054" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="shipping" />
      <billing id="1062" key="99780662-c867-40d3-ae77-3a1b5833df11" parentID="1057" level="3" creatorID="0" sortOrder="1" createDate="2016-11-18T12:07:02" updateDate="2016-11-18T12:07:02" nodeName="Address" urlName="address" path="-1,1056,1057,1062" isDoc="" nodeType="1050" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="billing" />
      <payment id="1063" key="3dc8a0df-c2b1-4f40-9412-9f1d7d124638" parentID="1057" level="3" creatorID="0" sortOrder="2" createDate="2016-11-18T12:07:11" updateDate="2016-11-18T12:07:11" nodeName="Payment" urlName="payment" path="-1,1056,1057,1063" isDoc="" nodeType="1052" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="payment" />
      <confirmation id="1064" key="a5a294db-446a-41cf-a9d1-203289bf37ca" parentID="1057" level="3" creatorID="0" sortOrder="3" createDate="2016-11-18T12:07:42" updateDate="2016-11-18T12:07:42" nodeName="Comfirmation" urlName="comfirmation" path="-1,1056,1057,1064" isDoc="" nodeType="1051" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="confirmation" />
      <preview id="1065" key="0a765966-fe87-4d84-a6c0-f145cf17f4ca" parentID="1057" level="3" creatorID="0" sortOrder="4" createDate="2016-11-18T12:07:54" updateDate="2016-11-18T12:07:54" nodeName="Preview" urlName="preview" path="-1,1056,1057,1065" isDoc="" nodeType="1053" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="preview" />
    </basket>
    <category id="1058" key="f352b1e1-563e-4e56-ae35-bc965babe7b0" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-11-18T12:05:43" updateDate="2016-11-18T12:05:43" nodeName="Catalog" urlName="catalog" path="-1,1056,1058" isDoc="" nodeType="1046" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="category">
      <product id="1162" key="ee0653d2-8cb2-456b-babc-960d419bdf53" parentID="1058" level="3" creatorID="0" sortOrder="0" createDate="2016-11-30T21:12:45" updateDate="2016-11-30T21:12:45" nodeName="Product" urlName="product" path="-1,1056,1058,1162" isDoc="" nodeType="1047" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="product" />
    </category>
    <search id="1060" key="29886b8e-b34a-4ea2-b6a5-a82707653913" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2016-11-18T12:06:10" updateDate="2016-11-18T12:06:10" nodeName="Search" urlName="search" path="-1,1056,1060" isDoc="" nodeType="1055" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="search" />
    <slider id="1153" key="0d4080b0-a593-4c6d-9490-a4b680ccc6fd" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2016-11-20T00:34:31" updateDate="2016-11-20T00:34:31" nodeName="Slider" urlName="slider" path="-1,1056,1153" isDoc="" nodeType="1151" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="slider">
      <sliderItem id="1154" key="99ac49da-3920-4c24-8370-c54ef07fe27e" parentID="1153" level="3" creatorID="0" sortOrder="0" createDate="2016-11-20T00:34:44" updateDate="2016-11-20T00:37:53" nodeName="Item 1" urlName="item-1" path="-1,1056,1153,1154" isDoc="" nodeType="1152" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="sliderItem">
        <title><![CDATA[Free E-Commerce Template]]></title>
        <priceLogo><![CDATA[1161]]></priceLogo>
        <description><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>]]></description>
        <introduce><![CDATA[1158]]></introduce>
      </sliderItem>
      <sliderItem id="1155" key="58e0edb5-cba1-41d2-852d-76762eeaf51d" parentID="1153" level="3" creatorID="0" sortOrder="1" createDate="2016-11-20T00:34:54" updateDate="2016-11-20T00:38:28" nodeName="Item 2" urlName="item-2" path="-1,1056,1153,1155" isDoc="" nodeType="1152" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="sliderItem">
        <title><![CDATA[100% Responsive Design]]></title>
        <priceLogo><![CDATA[1161]]></priceLogo>
        <description><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>]]></description>
        <introduce><![CDATA[1159]]></introduce>
      </sliderItem>
      <sliderItem id="1156" key="003fb125-1cf6-4497-b6e5-28187885aa10" parentID="1153" level="3" creatorID="0" sortOrder="2" createDate="2016-11-20T00:35:02" updateDate="2016-11-20T00:39:13" nodeName="Item 3" urlName="item-3" path="-1,1056,1153,1156" isDoc="" nodeType="1152" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="sliderItem">
        <title><![CDATA[Free Ecommerce Template]]></title>
        <priceLogo><![CDATA[1161]]></priceLogo>
        <description><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>]]></description>
        <introduce><![CDATA[1160]]></introduce>
      </sliderItem>
    </slider>
  </home>
  <home id="1150" key="a8a57ea8-04c1-4ae1-98b1-9af80ec8d38b" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-11-19T23:39:21" updateDate="2016-11-19T23:39:21" nodeName="Temp" urlName="temp" path="-1,1150" isDoc="" nodeType="1048" creatorName="Binh Minh" writerName="Binh Minh" writerID="0" template="0" nodeTypeAlias="home" />
</root>